body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  button {
    padding: 15px 30px;
    font-size: 100px;
    color: blue;
    background-color: #7bff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
 
  
 
  